body{
	background-size: 100%;
	background-color: #79A4F3 ;
}
header{
	background-color: #0059FF ;
	color: white;
	text-align: center;
	padding: 5px;
	font-size: 40px;
	width: 100%;
	font: oblique bold 120% cursive;


}
nav{
	font: oblique bold 120% cursive;
	line-height: 30px;
	background-color: #3774E5 ;
	color: white;
	height: 600px;
	width: 200px;
	float: left;
	padding: 5px;
	font-size: 22px;
	text-decoration: none;
	margin: 20px;
	width: 20%;

}
nav a:hover{
	text-decoration: underline;
	cursor: pointer;
}
section{

	width: 750px;
	float: left;
	padding: 10px;
	color: black;
	text-align: justify;
	font-size: 20px;
	padding:  0px 150 px 0px 150px;
   font: oblique bold 120% cursive;

}
footer{
	background-color: dodgerblue;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
	width: 100%;
   font: oblique bold 120% cursive;

}
.img{
	display: inline-block;
	margin: auto;
	clear: right;
}
a{
	text-decoration: none;
	color: white;
	font: oblique bold 120% cursive;

}
main .fondo{
	text-align: center;
	width: 40%;
}
main .fondo img{
	max-width: 40%;
	height: auto;
	cursor: pointer;
	border-radius: 10px;
	transition: transform 0.3s ease;

}
main .fondo img:hover{
	transform: scale(1.05);
}
h1{
	color: white;
	text-align: center;
}